.ClientPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem 0;
}

.ClientPage .last-generated{
    width: 20vw;
    height: 25vh;
}

.ClientPage .options-container{
    width: 55.31vw;
    height: 50.27vh;
}

